.feedback__container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 50px 0 50px;
  }
  .feedback__btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: left;
    background-color: #f3f6f9;
    color: #3a5c7f;
    transition: all 800ms;
  }
  .feedback__btn:hover {
    background-color: #90b242;
    color: white;
  }